@using Microsoft.AspNetCore.Identity;

@model SampleLMS.Models.DTOs.Module.EditModuleRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit Module - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">

        <div class="mb-3">
            <label class="form-label">Module Id</label>
            <input type="text" class="form-control" id="courseId" asp-for="ModuleId" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">Module Name</label>
            <input type="text" class="form-control" id="moduleName" asp-for="ModuleName" />
        </div>

        <div class="mb-3">
            <label class="form-label">Module Content</label>
            <textarea class="form-control" id="content" asp-for="ModuleContent"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Content Type</label>
            <input type="text" class="form-control" id="contentType" asp-for="ContentType" />
        </div>

        @*<div class="mb-3">
            <label for="formFileMultiple" class="form-label">Upload Files</label>
            <input class="form-control" type="file" id="formFileMultiple" asp-for="UploadedFiles" multiple>
        </div>*@

        @*<div class="mb-3">
            <label for="formFileSingle" class="form-label">Upload Files</label>
            <input class="form-control" type="file" id="formFileSingle" asp-for="UploadedFiles" multiple>
        </div>*@

        <div class="mb-3">
            <button type="submit" id="submit-btn" class="btn btn-dark">
                Save
            </button>
        </div>
    </form>


    <form method="post" enctype="multipart/form-data" asp-controller="FileUploads" asp-action="UploadFile">
        <label for="formFileSingle" class="form-label">Upload Files</label>
        <div class="mb-3">
                <span>Select File:</span>
                <input type="file" name="file" multiple/>
                <input type="submit" value="Upload" />
                <br />
                <span style="color:green">@Html.Raw(ViewBag.Message)</span>
            </div>
        </form>



</div>


@section Scripts {
    <script>
        var editor = new FroalaEditor('#content');
    </script>
}





